<table>
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].id %><%= quizzes[i].question %></a>
        </td>
     </tr> 
  <% } %>
</table>
<p>

<form method="get" action="/quizzes">        
    <p>
      Busc<%= search %>ar
    </p>

    <p>
      <input type="text" name="search" value="<%= search %>" placeholder="Respuesta" />

      <input type="submit" value="Comprobar">
    </p>
  </form>
  </p>
